[Unit]
Description=twemproxy
After=redis.target memcached.target
Before=php-fpm.target nginx.target

[Service]
Type=simple
User=twemproxy
EnvironmentFile=/etc/sysconfig/twemproxy
ExecStartPre=/usr/sbin/twemproxy -t
ExecStart=/usr/sbin/twemproxy $OPTIONS

[Install]
WantedBy=multi-user.target
